#root {
  background-color: #CBD5E1;
}

body {
  background-color: #CBD5E1;
}

.josefin-slab-100 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.josefin-slab-200 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.josefin-slab-300 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.josefin-slab-400 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.josefin-slab-500 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.josefin-slab-600 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.josefin-slab-700 {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.habibi-regular{
  font-family: "Habibi", serif;
  font-weight: 400;
  font-style: normal;
}
